* {
  box-sizing: border-box;
}

/* Reset */
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

/* App */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.125em;
  line-height: 1.3;
}

.header {
  padding: 1em;
  text-align: center;
  color: white;
  background-color: #07C;
}

.icon {
  width: 3em;
  height: 3em;
}

.form {
  margin-top: 0.5em;
}

.form__input {
  display: block;
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  background: none;
  border: 2px solid;
  border-radius: 4px;
}

.form__input::-webkit-input-placeholder {
  color: #aebde0;
}

.form__input::-moz-placeholder {
  color: #aebde0;
}

.form__input:-ms-input-placeholder {
  color: #aebde0;
}

.form__input::placeholder {
  color: #aebde0;
}

.form__input:focus {
  outline: none;
  background-color: #3AF;
  border-color: #3AF;
}

.form__input:not(:first-child) {
  margin-top: 1em;
}

.form__input--btn {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form__input--btn:hover {
  color: white;
  border-color: #3AF;
  background-color: #3AF;
}

@media (min-width: 40em) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon {
    width: 2em;
    height: 2em;
  }

  .form {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }

  .form__input {
    width: auto;
  }

  .form__input:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .form__input:not(:first-child) {
    margin-top: 0;
    margin-left: 1em;
  }
}
.results-container {
  max-width: 50em;
  margin: 0 auto;
  padding: 1em;
}

.results {
  margin-top: -1em;
}

.results__item {
  padding-top: 1em;
}

.results__link {
  display: block;
  height: 100%;
  padding: 1em;
  color: #07C;
  border: solid 1px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  word-wrap: wrap;
}

.results__link:visited {
  color: #005999;
}

.results__link:hover,
.results__link:focus {
  outline: none;
  color: white;
  border-color: #3AF;
  background-color: #3AF;
}

@media (min-width: 40em) {
  .results {
    margin-left: -1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .results__item {
    padding-left: 1em;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }

  .results__item:nth-child(5n) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }

  .results__item:nth-child(7n) {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 66%;
            flex: 1 0 66%;
  }
}
